{% load static %}

        <div class="banner">
			<div class="container">
				<div class="header" style="display: flex;">
					<div class="logo" style="width: -webkit-fill-available;">
						<h1><a href="{% url 'hotel:index' %}">Al Laith </a></h1>
					</div>
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									{% comment %} <li><a class="active" href="{% url 'hotel:index' %}">Home</a></li>
									<li><a href="{% url 'hotel:menu' %}">Menu</a></li> {% endcomment %}
									{% if user.is_authenticated %}
									<li><a href="{% url 'hotel:cart' %}">Cart{% if item_count > 0 %}({{item_count}}){%endif%}</a></li>
									<li><a href="{% url 'hotel:my_orders' %}">Orders</a></li>
									{% if user.is_staff %}
									<li><a href="{% url 'hotel:dashboard_admin' %}">Dashboard</a></li>
									{% endif %}
									<li><a href="/accounts/logout/">Logout</a></li>
									{% else %}
									<li><a href="/accounts/login/">Login</a></li>
									{% endif %}
									<div class="clearfix"> </div>
								</ul>
							</div>
						</nav>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="banner-info">
					<h2>Tasty food served at your doorstep</h2>
					{% comment %} <p>Experience the fastest delivery. Order now and get your food at your doorstep in 30 minutes!</p> {% endcomment %}
				</div>
			</div>
		</div>